<%- include('partials/header') %>
<section class="post">

    <h1> <%=postTitle%> </h1>
    <p><strong><%=postAuthor%></strong></p>
    <p> <%=postBody%></p>
</section>



<%- include('partials/footer') %>       